.top{
    height: 100px;
    background-color: darksalmon;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.5);
    border-radius: 30px;


}

.menu{
    list-style: none;
    display: flex;
    justify-content: right;
    padding: 40px;
}

nav ul li{
    margin: 20px;
}

.colum{
    width:300px;
    height: 600px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.5);
    background-color: rgb(219, 177, 60) rgb(143, 161, 172);
    border-radius: 30px;
    top:20px;
    position: relative;
}